$text-color: #333333;

$default-color: #e0e0e0;
$primary-color: #2962ff;
$secondary-color: #455a64;
$danger-color: #d32f2f;
$input-color: #333333;
$disabled-color: #f2f2f2;

$primary-hover-color: #2962ff1a;
$secondary-hover-color: rgba(69, 90, 100, 0.1);
$danger-hover-color: rgba(211, 47, 47, 0.1);
